.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header h2 {
  font-size: 22px;
  font-weight: 600;
}

.icon {
  color: #fff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.title {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.viewAll {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.viewAll button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}
.icon {
  width: 11px;
  height: 15px;
}

.left {
  display: flex;
  gap: 16px;
  overflow: hidden;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 10px;
  }

  .header h2 {
    font-size: 20px;
  }

  .viewAll button {
    font-size: 12px;
  }

  .left {
    display: flex;
    gap: 10px;
    overflow: hidden;
    padding-right: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
