.card {
  width: 347px;
  overflow: hidden;
  position: relative;
  height: 194px;
}

.poster {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.type {
  position: absolute;
  top: 90px;
  left: 8px;
  display: flex;
  gap: 6px;
}
.type .left {
  width: 65px;
  height: 24px;
  border-radius: 4px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  background-color: #ffffff;
  color: #000000;
}

.info {
  padding-left: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  color: #aaaaaa;
  font-size: 12px;
}
@media (max-width: 768px) {
  .card {
    width: 48%;
    height: 100%;
  }
  .type {
    top: 70px;
    left: 0px;
  }
  .type .left {
    width: 50px;
    height: 18px;
    font-size: 9px;
  }

  .info {
    padding-left: 0px;
  }

  .title {
    font-size: 12px;
    margin: 3px 0;
  }
  .subtitle {
    font-size: 11px;
    margin: 3px 0;
  }
}
