.card {
  width: 347px;
  overflow: hidden;
  position: relative;
  height: 194px;
}

.poster {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.type {
  position: absolute;
  top: 90px;
  left: 8px;
  display: flex;
  gap: 6px;
}
.type .left {
  width: 65px;
  height: 24px;
  border-radius: 4px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  background-color: #ffffff;
  color: #000000;
}

.info {
  padding-left: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  color: #aaaaaa;
  font-size: 12px;
}
