.card {
  width: 160px;
  overflow: hidden;
  position: relative;
}

.poster {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.type {
  position: absolute;
  top: 65px;
  left: 8px;
  display: flex;
  gap: 6px;
}
.type .left,
.type .right {
  width: 48px;
  height: 24px;
  border-radius: 4px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  background-color: #5e6070;
}
.right {
  background-color: #2ca35d;
}

.info {
  padding-left: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  color: #aaaaaa;
  font-size: 12px;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
  .type {
    position: absolute;
    top: 20px;
    left: 0px;
    gap: 0px;
  }
  .type .left,
  .type .right {
    width: 30px;
    height: 18px;
    border-radius: 4px;
    font-size: 8px;
  }

  .info {
    padding-left: 0px;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px;
  }

  .subtitle {
    color: #aaaaaa;
    font-size: 11px;
    margin: 0px;
  }
}
