.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.header h2 {
  font-size: 28px;
}
.arrowBtn {
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  padding: 7px 9px;
  cursor: pointer;
}
.movieList {
  display: flex;
  gap: 16px;
  overflow: hidden;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .section {
    gap: 5px;
    margin-top: 10px;
  }
  .header {
    gap: 10px;
  }
  .header h2 {
    font-size: 20px;
  }
  .arrowBtn {
    padding: 5px 7px;
  }
  .movieList {
    gap: 12px;

    padding-bottom: 30px;
  }
}
